@charset "utf-8";
/* html{ overflow : hidden; } */

aside.filtres_et_cadres {
	background-image:none;
}
.filtres_et_cadres div{
	position : relative;
	top  : 1px;
	left : 1px;
	height : 15rem;
	width  : 15rem;
	background-size: contain;
	background-repeat: no-repeat;
	display : inline-block;
}

#cadre01{
	background-image : url("../images/filtres_et_cadres/cadre_01.png");
}
#cadre02{
	background-image : url("../images/filtres_et_cadres/cadre_02.png");
}
#cadre03{
	background-image : url("../images/filtres_et_cadres/cadre_03.png");
}
#filtre01{
	background-image : url("../images/filtres_et_cadres/filtre_01.png");
}
