@charset "utf-8";
/* html{ overflow : hidden; } */

.pas_la_moyenne{
	border : 1px solid red;
}
main .boutons{
	margin : 1rem auto;	
	text-align : center;
}

/*
table.vue_mobile th,
table.vue_mobile td{
	border      : none;
}
table.vue_mobile th{
	font-weight : bold;
}
table.vue_mobile th:first-child,
table.vue_mobile td:first-child{
	border-right : 2px solid black;
}
table.vue_mobile tr:nth-child(n+2) td,
table.vue_mobile tr:nth-child(n+2) th{
	border-top : 2px solid black;
}
*/
table.vue_mobile tr.pair{
	filter: invert(0.1);
}